<app-navbar></app-navbar><br><br>

<div class="container is-fluid">
    <div class="columns">
        <div class="column is-5">

       
<div class="content has-text-justified">
    <h1 class="title is-size-1">SONREALFUT</h1>
    <h3> <strong> Una fundación para la población!</strong></h3>
    <h2>RESEÑA   HISTORICA “FUNDASONRIALFUT”</h2>
    <p> <strong>Esta organización nace a partir de grandes y diversas necesidades que padecen los miembros de nuestras comunidades negras, indígenas, raicéales, palenqueros y afrodescendientes del pacifico colombiano y en especial el municipio de Tumaco. Conocedores de la difícil situación social y económica que se empezó a vivir en nuestros pueblos a causa de los conflictos por presencia de grupos armados, obligados a desplazamiento forzoso dejando sus tierras y su pan coger para el sustento de sus familias llegando a la cabecera municipal.</strong></p>
    <p> <strong>
        Generando índices de pobreza multidimensional, del recrudecimiento del conflicto armado en la zona, han generado un alto desplazamiento hacia la zona urbana del municipio. En este sentido, se convierte el proceso en círculo vicioso que incrementa las zonas vulnerables e informales en la ciudad, en donde se mantienen las condiciones precarias, incluyendo temas de desnutrición, hacinamiento, inseguridad, enfermedades, analfabetismo, superando la capacidad técnica, de recursos y de respuesta desde la institucionalidad. Estas condiciones de incapacidad de respuesta institucional y olvido desde el Estado en algunas zonas,
       </strong></p>
    <p> <strong>
        Decidimos convocar a miembros de la población los cuales residen en Tumaco-Nariño e invitarlos a participar en la creación de una ONG, con el firme propósito de solicitarle al Estado colombiano, mayor presencia, responsabilidad y compromiso con el desarrollo y bienestar de nuestras poblaciones, dichas condiciones se encuentran en el marco de Justicia y Equidad en nuestro nuevo Estado Social de Derecho. 
        </strong></p>
    <p> <strong>La Fundación sonriéndole al futuro “FUNDASONREALFUT”, fue creada mediante Acta No.01 de Asamblea General de Afiliados, el día veintidós (22) de octubre del año Dos Mil Catorce (2014), inscrita en la Cámara de Comercio de Tumaco, el día veinticuatro (24) de noviembre del mismo año, bajo el número 577 del Libro I.</strong></p>
   
    

    </div>
</div>
</div>
</div>

<section class="hero has-background-link-light is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <a class="navbar-item">
                Examples
              </a>
              <a class="navbar-item">
                Documentation
              </a>
              <span class="navbar-item">
                <a class="button is-primary is-inverted">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Title
        </p>
        <p class="subtitle">
          Subtitle
        </p>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>





<router-outlet>  </router-outlet>


