@import 'bulma/css/bulma.css';

html {
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDvSP4CboUEjaMCprXxHZsAYAVHvY4FON6Ag&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
  }